html{line-height:1.15;-webkit-text-size-adjust:100%}
body{margin:0}
main{display:block}
h1{font-size:2em;margin:.67em 0}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent}
abbr[title]{border-bottom:none;text-decoration:underline dotted}
b,strong{font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
small{font-size:80%}
img{border-style:none}
button,input,optgroup,select,textarea{font:inherit;margin:0}
button, input {overflow:visible}
button, select {text-transform:none}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
fieldset{padding:.35em .75em .625em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;white-space:normal}
progress{vertical-align:baseline}
textarea{overflow:auto}
[type=search]{outline-offset:-2px}
